<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Add Event (internal)</title>
	<link rel="stylesheet" href="/styles/addEvent.css">
    <script src="/scripts/addEvent.js"></script>
</head>
<body>
    <h2> Enter Information to Create Event </h2>
    <form>
        <div class="Inputs">
          <label for="Title">Title: </label>
          <input type="text" id="Title" name="Title" />
          <br>
          <label for="Date: month">Date (month, 1-12): </label>
          <input type="text" id="Month" name="Date-month" />
          <br>
          <label for="Date: day">Date (day): </label>
          <input type="text" id="Day" name="Date-day" />
          <br>
          <label for="Date: year">Date (year): </label>
          <input type="text" id="Year" name="Date-year" />
          <br>
          <label for="Time and Location">Time and Location: </label>
          <input type="text" id="TimeLocation" name="TimeLocation" />
          <br>
          <label for="Summary">Summary: </label>
          <input type="text" id="Summary" name="Summary" />
          <br>
          <label for="Price">Price </label>
          <input type="text" id="Price" name="Price" />
          <br>
          <label for="Accessibility Options">Accessibility Options: </label>
          <input type="text" id="AccessibilityOptions" name="AccessibilityOptions" />
          <br>
          <label for="Full Description">Full Description </label>
          <input type="text" id="FullDescription" name="FullDescription" />
          <br>
          <label for="Contact Information">Contact Information </label>
          <input type="text" id="ContactInformation" name="ContactInformation" />
          <br>
          <label for="Tags">Tags (space delimitted)</label>
          <input type="text" id="Tags" name="Tags" />
          <br>
        </div>
        <div>
          <button id="SubmitButton" style="font-size: larger;">Submit</button>
        </div>
      </form>      
</body>
</html>
