<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Add Event</title>
	<link rel="stylesheet" href="../public/styles/addEvent.css" />
	<!-- <link rel="icon" type="image/png" href="../assets/favicon.svg"> -->
</head>
<body>
    <h2> Enter Information to Create Event </h2>
    <form>
        <div class="Inputs">
          <label for="Title">Title: </label>
          <input type="text" id="title" name="title" />
          <br>
          <label for="Time and Location">Time and Location: </label>
          <input type="text" id="TimeandLocation" name="TimeandLocation" />
          <br>
          <label for="Summary">Summary: </label>
          <input type="text" id="Summary" name="Summary" />
          <br>
          <label for="Price">Price </label>
          <input type="text" id="Price" name="Price" />
          <br>
          <label for="Accessibility Options">Accessibility Options: </label>
          <input type="text" id="AccessibilityOptions" name="AccessibilityOptions" />
          <br>
          <label for="Full Description">Full Description </label>
          <input type="text" id="FullDescription" name="FullDescription" />
          <br>
          <label for="Contact Information">Contact Information </label>
          <input type="text" id="ContactInformation" name="ContactInformation" />
          <br>
        </div>
        <div>
          <button style="font-size: larger;">Submit</button>
        </div>
      </form>      
</body>