<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance</title>
    <link rel="stylesheet" href="../styles/attendance.css">
    <script src="../scripts/attendance.js"></script>
</head>
<body>
    <div class="MenuDiv">
        <ul class="Menu">
            <li class="logo">NYCCal!</li>
            <li class="notLogout"><a href="events">Events</a></li>
            <li class="notLogout"><a href="#">Attendance</a></li>
            <li class="notLogout"><a href="settings">Settings</a></li>
            <li class="lastLi"><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
    <div class="profile-pic">
        <img class="ProfilePic" src="<%= user.thumbnailURL %>">
        <h2 id="Message" class="Message"> Hello, <%= user.username %></h2>
    </div>
    <h1 class="Attending">Events Attended:</h1>
    <hr>
    <div id="HistoryList"></div>
    <h1 class="Attending">Events Attending:</h1>
    <hr>
    <div id="EventList"></div>
</body>
</html>
