<!DOCTYPE html>
<html lang="en" dir="ltr">
 
<head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet"
          href=
  "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="../public/styles/attendance.css">
    <script src="../public/scripts/attendance.js"> </script>
</head>

<body>
    <div>
        <ul class="Menu">
            <li><a href="events">Events</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="#">Attendance</a></li>
            <li style="float: right;"><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>

    <div>
        <img class="ProfilePic" src="../public/assets/google.svg">
        <h2 id="Message" class="Message"> Hello, </h2>
    </div>
    <h1 class="Attending">Events Attending:</h1>
    <hr>
    <div id="EventList">

    </div>
</body>