<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../styles/main.css" />
	<!-- <link rel="icon" type="image/png" href="../assets/favicon.svg"> -->
</head>
<body>
	<div>
			<h2>Please log in or register</h2>
	<form action="/auth/google">
		<button href="/auth/google">
		  <img src="../assets/google.svg" />
		  Sign in with Google
		</button>
	</form>
	</div>

    <script type="module" src="../scripts/main.js"></script>
</body>
</html>
