<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <!-- <link rel="icon" type="image/png" href="../assets/favicon.svg"> -->
  </head>
  <body>
    <h1>You've reached the settings page, <%= user.username %>!</h1>
    
    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
