<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="../styles/settings.css">
    <script src="../scripts/settings.js"></script>
</head>
<body>
	<h1 class="Header"> Please choose your preferences: </h1>

	<button class="Collapsible">Music</button>
	<div class="Content">
		<button class="PreferenceButton">Pop</button>
		<button class="PreferenceButton">Rock</button>
		<button class="PreferenceButton">Rap</button>
		<button class="PreferenceButton">Jazz</button>
		<button class="PreferenceButton">EDM</button>
		<button class="PreferenceButton">Classical</button>
		<button class="PreferenceButton">Country</button>
	</div>
	
	<button class="Collapsible">Sports</button>
	<div class="Content">
		<button class="PreferenceButton">Basketball</button>
		<button class="PreferenceButton">Baseball</button>
		<button class="PreferenceButton">Football</button>
		<button class="PreferenceButton">Soccer</button>
		<button class="PreferenceButton">Tennis</button>
		<button class="PreferenceButton">Hockey</button>
	</div>

	<button class="Collapsible">Theater</button>
	<div class="Content">
		<button class="PreferenceButton">Comedy</button>
		<button class="PreferenceButton">Street</button>
		<button class="PreferenceButton">Magic</button>
		<button class="PreferenceButton">Musical</button>
		<button class="PreferenceButton">Tragedy</button>
		<button class="PreferenceButton">Opera</button>
	</div>

	<button class="Collapsible">Art</button>
	<div class="Content">
		<button class="PreferenceButton">Museums</button>
		<button class="PreferenceButton">Festivals</button>
		<button class="PreferenceButton">Fashion</button>
		<button class="PreferenceButton">Culture</button>
	</div>

	<button class="Collapsible">Workshops</button>
	<div class="Content">
		<button class="PreferenceButton">Teamwork</button>
		<button class="PreferenceButton">Coding</button>
		<button class="PreferenceButton">Career</button>
		<button class="PreferenceButton">Stress</button>
		<button class="PreferenceButton">Painting</button>
		<button class="PreferenceButton">Other</button>
	</div>

	<button class="Collapsible">Borough</button>
	<div class="Content">
		<button class="PreferenceButton">Queens</button>
		<button class="PreferenceButton">Brooklyn</button>
		<button class="PreferenceButton">Manhattan</button>
		<button class="PreferenceButton">Bronx</button>
		<button class="PreferenceButton">Staten Island</button>
	</div>

	<button class="SubmitButton" id="SubmitButton">Submit</button>
</body>
</html>
